* {
    color:black;
  }
  .navbar {
    background-color: #c6c6c6;
  }
  .table {
    border: 1px solid rgba(39,41,43,0.1); }
  .table.img {
    border: #e57d90;
  }
  a {
    color: black;
  }
  .btn.btlist-group-item {
    background-color: rgba(253,180,191,0.66);
     
    
    font-size: 19px; 
    font-weight: 500; 
    margin:1px; 
    color:black; 
}

.btn.btlist-group-item > a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

  .btn.btlist-group-item:hover {
    background-color: #e57d90;
    color: white; }
  .btn {
    background-color: rgba(253,180,191,0.66); 
    color: black;
    border: #e57d90; }
  .btn:hover {
    background-color: #e57d90;
    color: white; }
  .centrado {
    text-align: center;
    vertical-align: middle; }
