* {
    color:black;
}
.navbar {
  background-color: #c6c6c6;
}
@font-face {
  font-family: "Domine";
  src: url(/Fuentes/Domine-VariableFont_wght.ttf) format("truetype");
}

.table {
  border: 1px solid rgba(39,41,43,0.1); 
  justify-content: center; }
.table.img {
  border: rgb(142, 59, 190);
}
a {
  color: black;
}
a{ font-family: "Domine", Domine}
h2{ font-family: "Domine", Domine}
button{ font-family: "Domine", Domine}
th{ font-family: "Domine", Domine}
label{ font-family: "Domine", Domine}
script {font-family: "Domine", Domine}
div{ font-family: "Domine", Domine}
canvas{ font-family: "Domine", Domine}
.btn.btlist-group-item {
  background-color: rgb(192, 145, 204);
  font-size: 19px; 
  font-weight: 500; 
  margin:1px; 
  color:black; 
  padding-left: 0;
  padding-right: 0;
}
.btn.btlist-group-item > a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none; } 
.btn {
  background-color: rgb(124, 72, 154); 
  color: black;
  border: rgb(196, 134, 233); }
.btn:hover {
  background-color: rgb(138, 90, 167); }
.btn:hover>a {
  color: white; }
.btn1 {
  background-color: rgba(255, 159, 64, 0.2);
  color: black;
  border: rgb(255, 160, 64); }
.btn1:hover {
  background-color: rgba(255, 160, 64, 0.486);}
.btn2 {
  background-color: rgba(75, 192, 149, 0.2);
  color: black;
  border: rgb(75, 192, 149); }
.btn2:hover {
  background-color: rgba(75, 192, 149, 0.614);}
.btn3 {
  background-color: rgba(54, 162, 235, 0.2);
  color: black;
  border: rgb(54, 163, 235); }
.btn3:hover {
  background-color: rgba(54, 163, 235, 0.595);}
.centrado {
  text-align: center;
  vertical-align: middle; }
.cuadro {
  color:#5e5e5e;
}
.color-rosado1 {
  background-color: rgba(255, 159, 64, 0.2);
}
.color-rosado2 {
  background-color:  rgba(75, 192, 192, 0.2);
}
.color-rosado3 {
  background-color: rgba(54, 162, 235, 0.2);
}

