body{
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100vh;
}

html {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header {
    align-items: center;
    min-height: 100px;
    position: relative;
}

a:link {
    color: pink
}

a:visited {
    color:#777777
}

a:hover {
    color: palevioletred
}

a:active {
    color: red
}

.menu{
    background-color: #e9e6e6;
    list-style-type: none;
    padding-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    width: 40px;
    text-transform: uppercase;
}    

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    font-weight: 600;
    color: #1D1D1B;
    display: block;
}

.menu .navbar ul li a:hover {
    color: palevioletred;
}

#menu {
    margin: 0;
    padding: 0;
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
} 

.section .container {
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.section-txt h1 {
    font-size: 55px;
    color: #1D1D1B;
    padding-left: 250px;
    padding-bottom: 25px;
    text-shadow: 3px 5px 5px pink;
}

.description {
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.section-video {
    width: 600px;
    height: 400px;
    padding-bottom: 25px;
}

.section-txt p {
    text-align: justify;
    z-index: 1px;
    width: 540px;
    height: 380px;
    padding: 10px;
    font-size: 20px;
    color: #2b2b2b;
}

section article {
    margin-top: 25px;
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

section .post {
    margin: 10px;
    padding: 10px;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2, section article p {
    margin: 1rem;
}
 
/* fondo pendiente */

.footer {
    background-color: #e9e6e6;
    padding: 10px;
}

.link {
    display: block;
    float: right;
}

.footer-content {
    justify-content: space-between;
}

.formulario {
    display: block;
    align-items: center;
    float: center; 
}

[data-content] {
    display: none;
}

.active[data-content] {
    display: block;
}

