body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: PT serifa;
    height: 100vh;
}

.navbar {
    background-color: #b098c1;
    padding: 0 10px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.logo{
    width: 145px;
    text-transform: uppercase;
}    

header.menu  {
    position: fixed;
    float: right;
    list-style: none;

}
.navbar .menu  {
    display: flex;
    flex-direction: row;
    gap: 20px;
    float: left ;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
} 

.menu li a {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    border: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
   
}

.menu li a:hover {
    color: #690F67;
}

.menu label {
    cursor: pointer;
    display: flex;
} 

.section .container-404 {
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.section-txt h1 {
    font-size: 55px;
    color: #1D1D1B;
    padding-left: 250px;
    padding-bottom: 25px;
    text-shadow: 3px 5px 5px #fdb4bf;
}

.avatar2{
    width: 53%;
}

.container-404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding: 8px;
    line-height: 5px;
}

.container-404 a{
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background: #fdb4bf;
    text-decoration: none;
    color: #000;
}

.container-404 a:hover {
    background-color: #e57d90;
}

