body {
    margin: 0;
    padding: 0;
    background: url(img/Fondo\ Login.jpg) no-repeat center top;
    opacity: 0.9;
    background-size: cover;
    font-family: PT serifa;
    height: 110vh;
}

.crearunacuenta-box{
    width: 600px;
    height: 860px;
    background: #fff;
    color: #000;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 130px 60px;
    box-shadow: 9px 5px 14px #6f6f6f;
    border-radius: 20px;
}

.crearunacuenta-box .avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: calc(50% - 50px);
}

.crearunacuenta-box h1{
    margin: 0;
    padding: -10 0 15px;
    text-align: center;
    font-size: 20px;
    font-family: PT serifa;
    
}

.crearunacuenta-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.crearunacuenta-box input[type="radio"]{
    padding: 4px 0px 4px 0px;
}

.crearunacuenta-box input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 16px;
    font-family: PT serifa;
}
.crearunacuenta-box input[type="email"] {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 16px;
    font-family: PT serifa;
}
.crearunacuenta-box input[type="tel"] {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 16px;
    font-family: PT serifa;
}
.crearunacuenta-box input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 16px;
    font-family: PT serifa;
}

.crearunacuenta-box input[type="submit"] {
    width: 100%;
    margin-bottom: 20px;
    border: #fdb4bf;
    outline: none;
    height: 40px;
    background: #fdb4bf;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    font-family: PT serifa;
}
.crearunacuenta-box label{
    padding: 0px 0px 4px 0px;
}

.select-css {
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: PT serifa;
    color: #666666;
    line-height: 1;
    padding: .4em 1.4em .3em .8em;
    width: 820px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 8px;
    appearance: none;
    background-color: #fff;
    background-image: url(img/iconos/angle-down-solid.svg);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.crearunacuenta-box a {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: darkgrey;
}

.crearunacuenta-box b {
    text-decoration: none;
    font-size: 14px;
    color: #595959;
}

.crearunacuenta-box a:hover {
    color: #000;
}
