body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

.avatar {
    width: 40%;
}

.container-500 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

h1{
    color: #000;
    font-size: 18px;
    padding: 15px;
}

a{
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: #fdb4bf;
    text-decoration: none;
    color: #000;
}

